---
interface Props {
  title: string;
  skills: {
    title: string;
    image: string;
  }[];
}

const { title, skills } = Astro.props;

const gradients = [
  "linear-gradient(0deg, #7bbe89 14%, #151e4f 84%)",
  "linear-gradient(180deg, #732d33 49%, #d938ba 100%)",
  "linear-gradient(0deg, #6b8772 24%, #84d938 87%)",
  "linear-gradient(180deg, #72672d 49%, #38d9a9 100%)",
];

const randomGradient = gradients[Math.floor(Math.random() * gradients.length)];
---

<div
  class="flex flex-col items-center hover:translate-y-[-10px] transition-all duration-200 p-2 sm:p-4"
>
  <h3
    class="text-lg sm:text-xl font-semibold mb-2 mx-auto text-center"
    style={`background: ${randomGradient}; -webkit-background-clip: text; -webkit-text-fill-color: transparent;`}
  >
    {title}
  </h3>

  <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 sm:gap-6">
    {
      skills.map(({ title, image }) => (
        <div class="flex flex-col items-center text-center">
          <img
            src={image}
            alt={title}
            class="w-10 h-10 sm:w-12 sm:h-12 mb-1 sm:mb-2"
          />
          <span class="text-xs sm:text-sm">{title}</span>
        </div>
      ))
    }
  </div>
</div>
